body{
    font-family: 'Times New Roman', Times, serif;
}

h1, p{
    text-align: center;
}

ul, ol{
    list-style: none;
}

a:hover, li:hover{
    background-color: darkblue;
    color: white;
}

a:active, li:active{
    font-family: Arial, Helvetica, sans-serif;
}
