# node_module de todos os exercicios
fundamentos/bloco-10-testes-automatizados-com-jest/dia-1-primeiros-passos-no-jest/node_module
fundamentos/bloco-10-testes-automatizados-com-jest/dia-1-primeiros-passos-no-jest/node_module/*