.super-mario {
  width: 150px;
  position: absolute;
  top: 50px;
  left: 10px;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 280px;
  left: 40px;
}

.baloon {
    position: absolute;
    top: 80px;
    left: 220px;
    z-index: 1;
}

.speach {
  font-size: 25px;
  position: absolute;
  top: 120px;
  left: 240px;
  z-index: 2;
}

.bowser {
  width: 200px;
  position: absolute;
  top: 180px;
  left: 500px;
}