ol li{
    background-color: yellow;
}

ol li:nth-of-type(even){
    color: green;
}

ol li:nth-of-type(odd){
    text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6{
    color: red;
}

h1 em, h2 em, h3 em, h4 em, h5 em, h6 em{
    font-size: 40px;
}

li{
    font-size: 20px;
}

li em{
    font-weight: bold;
}

ul.listalinguagens li:nth-of-type(-n+3){
    color: blue;
}

li span{
    background-color: pink;
}

ul.aliados a:hover{
    font-weight: bold;
}

a#stack:hover{
    color: orange;
}

a#w3:hover{
    color: green
}

a#mdn:hover{
    color: black;
}

a#devdocs:hover{
    color: yellow;
}

a#trybe:hover{
    color: green;
}

